.container {
    padding: 85px 125px 0;
    height: calc(100vh - 225px);
    overflow: hidden;
    font-size: 18px;

    .scroll {
        overflow: auto;
        height: 100%
    }

    .header-row {
        color: #b7267b;
        font-weight: bold;

        &.row {
            cursor: auto;

            &:hover {
                background-color: white;
            }
        }
    }

    .name-cell {
        flex: 1;
    }

    .description-cell {
        flex: 3;
    }
}
